@import "tailwindcss";
@plugin "daisyui" {
  themes: light dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(52% 0.154 150.069);
  --color-primary-content: oklch(98% 0.018 155.826);
  --color-secondary: oklch(50% 0.134 242.749);
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: oklch(50% 0.213 27.518);
  --color-accent-content: oklch(97% 0.013 17.38);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.7s; /* Increase duration (default is usually shorter) */
  animation-timing-function: ease-in-out; /* Smoother timing */
}
