/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Variables */
:root {
  --slidev-theme-secondary: #ffdb0e;
}

a {
  @apply underline decoration-auto;
}

.slidev-layout {
  a {
    @apply underline decoration-auto;
  }
}

.slidev-layout:not(.cover, .image) h1::before {
  content: '# ';
  color: var(--slidev-theme-primary);
  font-weight: 700;
  margin-right: 0.5rem;
}

.slidev-layout:not(.cover, .image) h2::before {
  content: '## ';
  color: var(--slidev-theme-primary);
  font-weight: 700;
  margin-right: 0.5rem;
}

.star {
  color: var(--slidev-theme-secondary);
  font-size: 2rem;
}
